---
import { defaultLanguage } from "~/i18n/ui";
import ArrowDown from "../icons/ArrowDown.astro";

import { getTranslation } from "~/i18n/utils";

const t = getTranslation(Astro.currentLocale ?? defaultLanguage);
---

<main class="flex flex-col items-center gap-16 text-center">
  <hgroup class="flex flex-col gap-2">
    <h1
      class="text-[54px] font-black bg-clip-text bg-gradient-to-tl from-[#0F121B99] via-[#667296] to-[#0F121B] text-transparent flex flex-wrap items-center justify-center lg:gap-6 leading-tight md:text-[99px]"
    >
      <span>{t.HERO.title[1]}</span>
      <span class="text-[33px] w-full lg:w-max">{t.HERO.title[2]}</span>
      <span>
        <span>1113</span>
        <span class="text-[54px]">{t.HERO.title[3]}</span>
      </span>
    </h1>
    <p
      class="text-primary-500 dark:text-primary-200 lg:text-2xl text-lg self-center first-letter:capitalize"
    >
      {t.HERO.subtitle}
    </p>
  </hgroup>
  <a
    href="/#days"
    class="px-8 py-2 rounded-md bg-secondary-500 hover:bg-secondary-400 dark:bg-primary-700 font-medium dark:hover:bg-secondary-700/50 transition-colors select-none flex gap-2 items-center group"
  >
    <span class="group-hover:animate-pulse capitalize">{t.HERO.btn}</span>
    <ArrowDown />
  </a>
</main>
