---
import { getCollection } from "astro:content";
import { defaultLanguage } from "~/i18n/ui";
import BlogLayout from "~/layouts/BlogLayout.astro";
import { getTranslation } from "~/i18n/utils";

export async function getStaticPaths() {
  const pages = await getCollection("days");

  const paths = pages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });

  return paths;
}

const page = Astro.props;

const { Content } = await page.render();

const t = getTranslation(Astro.currentLocale ?? defaultLanguage);
---

<BlogLayout
  titlePage={`${page.data.title} - Dia ${page.data.day}`}
  title={page.data.title}
>
  <p slot="title" class="text-pretty text-sm flex gap-4 items-center">
    <span class="text-primary-400 dark:text-primary-300"
      >{page.data.pubDate}</span
    >
    •
    <span
      class="text-primary-500 dark:text-primary-200 font-bold text-lg capitalize"
      >{t.BLOG.CARD.day} {page.data.day}</span
    >
    •
    <span class="text-primary-400 dark:text-primary-300 capitalize"
      >{page.data.mood}</span
    >
  </p>
  <Content />
</BlogLayout>
