---
import { FavoriteBtn } from "./FavoriteBtn";
import SpeedDial from "../common/SpeedDial.astro";

import { defaultLanguage } from "~/i18n/ui";
import { getTranslation } from "~/i18n/utils";
import { getCollection } from "astro:content";

const { currentLocale = defaultLanguage } = Astro;

const t = getTranslation(currentLocale ?? "es");

const allDays = await getCollection("days").then((days) => {
  return days
    .filter((day) => {
      const lang = day.slug.split("/")[0];
      return lang === currentLocale;
    })
    .sort((a, b) => a.data.day - b.data.day);
});

const filteredTags = [
  ...new Set(allDays.map((entry) => entry.data.tags).flat()),
];
---

<nav class="flex justify-between items-start h-11 w-full">
  <div class="group relative h-full">
    <button
      class="btn px-10 h-full bg-secondary-500 hover:bg-secondary-400 dark:bg-primary-600 rounded-lg dark:hover:bg-primary-600/50 capitalize w-max"
      >{t.BLOG.btnFilter}</button
    >

    <ul
      class="z-20 h-0 max-h-[300px] overflow-scroll rounded-lg group-hover:h-max group-hover:animate-duration-300 absolute bg-secondary-300 dark:bg-primary-600 group-hover:p-4 grid grid-cols-3 w-max scale-0 group-hover:scale-100 transition-all origin-top-left duration-500 gap-4 mt-2"
    >
      {
        filteredTags.map((tag) => {
          return (
            <li>
              <a
                href={`${Astro.url.pathname}?tags=${tag}`}
                class="bg-secondary-400 hover:bg-secondary-500 dark:bg-primary-600 dark:hover:bg-primary-700 flex py-2 px-4 capitalize w-full rounded-full justify-center transition-colors"
              >
                {tag}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <article class="flex gap-4 items-baseline">
    <SpeedDial
      class="bg-secondary-500 group-hover:bg-secondary-400 dark:bg-primary-600 dark:group-hover:bg-primary-600/50"
    >
      <span class="capitalize" slot="btn">{t.BLOG.btn}</span>
      {
        allDays.map(({ data, slug }) => {
          const [, ...id] = slug.split("/");

          return (
            <li>
              <a
                href={`/${currentLocale === "es" ? "" : "en/"}days/${id.join(
                  "/",
                )}`}
                aria-label={`Go to day ${data.day}`}
                class="bg-secondary-300 hover:bg-secondary-400 dark:bg-primary-600 dark:hover:bg-primary-700 whitespace-no-wrap inline-flex justify-center items-center w-full gap-x-2 h-11 capitalize"
              >
                {t.BLOG.CARD.day} {data.day}
              </a>
            </li>
          );
        })
      }
    </SpeedDial>
    <FavoriteBtn client:visible />
  </article>
</nav>

<style>
  .day-container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    @apply grid gap-4 gap-y-12 relative cursor-pointer;
  }
</style>
